.myPosts{
  padding: 5px;
}
.addPost{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
textarea{
  resize: none;
  margin: 0 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 15px;
  height: 100px;
  width: 70%;
}
.buttons{
  display: flex;
  gap: 20px;
  justify-content: center;
}