.dialogs__wrapper{
  color: #ffffff;
  background: #e97383;
  display: grid;
  grid-template-columns: 2fr 8fr;
}
.dialogs{
  border-right: 1px solid #ffffff9a;
  padding-left: 10px;
  padding-top: 15px;
}
.messages{
  flex: 1;
  padding-left: 15px;
  padding-top: 15px;
  &Wrapper{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
  }
}
.message{
  padding: 15px 0;
}
.activeLink{
  color: #24ee09;
}
a{
  color: #ffffff;
}
.textarea{
  margin-bottom: 30px;
  &::placeholder{
    color: #000;
  }
}